<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <nav class="footer__nav">
        <div class="footer__nav-group">
          <a class="footer__link footer__link--main" href="#">Каталог</a>
          <ul class="footer__list list-reset active">
            <li class="footer__item">
              <a class="footer__link" href="#">Мебель для персонала</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Кабинеты руководителей</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Кресла и стулья</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Переговорные столы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Офисные диваны</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Домашний офис</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Ресепшены</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Металлическая мебель</a>
            </li>
          </ul>
          <a class="footer__link footer__link-catalog" href="#">Весь каталог</a>
        </div>
        <div class="footer__nav-group">
          <a class="footer__link footer__link--main" href="#">Услуги и сервисы</a>
          <ul class="footer__list list-reset footer__list--center">
            <ul class="footer__list--second list-reset">
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Дизайн-проект офиса</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Доставка и сборка</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Мебель на заказ</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Проектный менеджмент</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Для гос.структур</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Премиум из Китая</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Тест драйв мебели</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Офисное оборудование</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Презентационное оборудование</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Trade in старой мебели</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Реконфигурация офиса</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Релокация офиса</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Проектный менеджмент</a>
              </li><li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Европейские фабрики</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Дизайнерам и архитекторам</a>
              </li><li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Брокерам, риелторам, застройщикам</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Дистрибьюция</a>
              </li>
              <li class="footer__item footer__item--second">
                <a class="footer__link" href="#">Архитектурное бюро</a>
              </li>
            </ul>
          </ul>
        </div>
        <div class="footer__nav-group">
          <a class="footer__link footer__link--main" href="#">О компании</a>
          <ul class="footer__list list-reset">
            <li class="footer__item">
              <a class="footer__link" href="#">О нас</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Наша команда</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Наши проекты</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Новости</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Отзывы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Партерам</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Шоурумы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="footer__contacts">
        <div class="footer__group">
          <span class="footer__subtitle">Ваш город</span>
          <button class="footer__location">Москва</button>
        </div>
        <div class="footer__group">
          <span class="footer__subtitle">Контакты</span>
          <a class="footer__contact-link footer__contact-link--phone" href="tel:+74951205391">+7 (495) 120-53-91</a>
          <a class="footer__contact-link footer__contact-link--mail" href="mailto:info@prime-wood.ru">info@prime-wood.ru</a>
          <a class="footer__contact-link footer__contact-link--wa" href="#">Написать в WatsApp</a>
        </div>
        <div class="footer__group">
          <span class="footer__subtitle">Подписывайтесь</span>
          <div class="footer__icons">
            <a class="footer__icon-link" href="#">
              <img class="footer__icon-img" src="img/tg.svg" alt="Ссылка на Telegram">
            </a>
            <a class="footer__icon-link" href="#">
              <img class="footer__icon-img" src="img/Vk.svg" alt="Ссылка на Вконтакте">
            </a>
            <a class="footer__icon-link" href="#">
              <img class="footer__icon-img" src="img/dz.svg" alt="Ссылка на Дзен">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-wrap">
        <div class="footer__left">
          <span class="footer__text">© 2013–2024 Компания «Prime Wood» - офисная мебель г. Москва.</span>
          <span class="footer__text">Все права защищены, нарушения авторских прав будут преследоваться по закону.</span>
        </div>
        <div class="footer__right">
          <img class="footer__rating" src="img/rating.svg" alt="Рейтинг">
          <span class="footer__text">Рейтинг организации на Яндексе</span>
        </div>
      </div>
      <p class="footer__text">Вы принимаете <a class="footer__text--link" href="#">условия политики в отношении обработки персональных данных</a> и <a class="footer__text--link" href="#">пользовательского соглашения</a> каждый раз, когда оставляете свои данные в любой форме обратной связи на сайте</p>
    </div>
  </div>
</footer>
